:root{
  --main-c:#fdd72d;
  --border-r:.2rem;
}

html *{
 margin: 0; 
 padding: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:#8b384a;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

  }

p{
  font-size: 1.1rem;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

ul, li{
  list-style: none;
}

.wrap-cta{
  padding: 1.5rem 0;
}


.cta-a {
  text-decoration: none; 
  padding: 15px 30px; 
  background-color: #f9a8d4; 
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  display: inline-block;
}


.cta-a:hover {
  background-color: #fbcfe8; 
  transform: scale(1.05); 
}

h1{
  font-size: 2.8rem;
}
h2{
  font-size: 2.6rem;
  font-family: "Ms Madi", cursive;
  color: #fff;
}
h3{
  font-size: 2.2rem;
  color: #fff;
}



.header-landing {
  text-align: center;
  padding: 10px; 
}

.wrap-logo {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.title{
  font-family: "Ms Madi", cursive;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}


.logo-header{
  max-width: 60px;
  height: 100%;
  width: 100%;
}



.hero-section{
  height: 90vh;
  background: url(img/past1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(106, 141, 163, 0.7);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
}

.wrap-hero-section{
  max-width: 600px;
  color: #fff;
  padding: 15%;
}

.secetion{
  margin: 5rem 0;
}

.section h2{
  padding: 2rem 0;
}
.logos-section{
  background: url(img/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-logos-section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.wrap-logos-section p {
  color: white;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.logo-brand{
  width: 50px;
  padding: 1rem 2rem;
  color: #fff;
}


.wrap-title-section{
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}



.wrap-two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding:0 0 5rem;
}

.wrap-img_two-column{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  border-radius: 3px;
}

.wrap-img_two-column img{
  width: 500px;
  border-radius: 8px;
}

.wrap-text-column h3{
  padding:0 0 1rem 0;
}

.wrap-text-column p{
  padding-bottom: 1rem;
}

section.two-column-section.form{
  background-color: #4F2D34;
  padding: 2rem 0;
}

.form input, .form textarea{
  display: flex;
  line-height: 1.75rem;
  border: 1.5px solid #fff;
  border-radius: var(--border-r);
  padding: 10px;
  width: 80%;
}

.form textarea{
  min-height: 250px;
  resize: none;
}

input[type="submit"]{
  border: 0;
  display: inline;
  cursor: pointer;
}

.form label {
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}


/** Footer **/

.footer-section{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.menu-footer-section{
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.wrap-social-logos ul, .wrap-menu-footer-section ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

.social-logo{
  max-width: 75px;
  width: 100%;
  padding: 1rem;
}

.wrap-menu-footer-section ul li{
  font-size: 1.1rem;
  padding: 1.5rem;
}

.footer-creds{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}


.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f9a8d4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: none; 
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #fbcfe8;
}


.scroll-to-top.show {
  display: block;
}



.wrap-servicios-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  padding: 20px;
  align-items: center;
  justify-content: center;
}


.item-servicios-section {
  background-color: #f9f9f9; 
  border-radius: 15px; 
  overflow: hidden; 
  text-align: center; 
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out; 
}


.item-servicios-section:hover {
  transform: scale(1.05); 
}


.item-servicios-section img {
  width: 350px;
  height: 260px;
  border-radius: 10px; 
}


.item-servicios-section p {
  font-size: 16px; 
  font-weight: bold;
  color: #333; 
  margin-top: 10px; 
}



@media (max-width: 1024px) {
  
  .header-landing {
    text-align: center;
  }

  .wrap-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo-header {
    width: 80%; 
    margin-bottom: 10px;
  }

  .hero-section h1 {
    font-size: 2em; 
  }
  .wrap-logo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .wrap-servicios-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .section.two-column-section .wrap-two-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .footer-section .wrap-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
